*
    box-sizing: border-box
    padding: 0
    margin: 0
body
    font-family: 'Montserrat', sans-serif
    font-size: 15px
    font-weight: 400
a
    text-decoration: none
img
    max-width: 100%
.button
    padding: 14px 30px
    color: #ffffff
    background-color: #d94948
    border: none
    border-radius: 100px
    &:hover
        background-color: #011627
.active
    color: #ffffff!important
@import 'header'
@import 'main'
@import 'about'
@import 'information'
@import 'service'
@import 'footer'
